*{
    margin: 0; /*Отступ от внешней границы*/
    padding: 0; /*Внутренние отступы*/
}
body,html{
    width: 100%;/*Ширина*/
    height: 100vh;
}
body {
    background-color: #F6F5F1;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
a{
    color: #756D6C;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover, a:focus{
    text-decoration: none;
    color:#756D6C;
}
/*Меню*/

.about {
    width: 100%;
    max-width: 100%;
    background-color: rgba(255,255,255,.4);
    outline: none;
}
nav{
    width: 100%;
    margin: 0 auto;
}
ul li {
    list-style-type: none;
    font-size: 20px;
    letter-spacing: 1px;
    color: #444;
    font-weight: 700;
    padding: 10px 20px 10px 30px;
}
ul{
    display: flex;
}
.about:after{
    content: "";
    display: table;
    clear: both;
}
.about {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}


/*Вход*/

button {
    outline: none;
    border: none;
    background: transparent;
}
button:hover {
    cursor: pointer;
}
.txt1 {
    font-family:'Inconsolata', monospace;
    font-size: 15px;
    color: #555555;
}
.limiter {
    width: 100%;
    margin: 0 auto;
}
.login {
    width: 100%;
    background-image: url("");
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}
.login-form {
    width: 600px;
    min-height: 65vh;
    display: block;
    background-color: #f7f7f7;
    padding: 173px 55px 55px 55px;
}
.login-title {
    width: 100%;
    display: block;
    font-family:'Inconsolata', monospace;
    font-size: 35px;
    color: #333333;
    line-height: 1.9;
    text-align: center;
}
.input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    height: 60px;
    position: relative;
    border: 0 solid #e6e6e6;
    margin-bottom: 25px;
}
.label {
    font-family:'Inconsolata', monospace;
    font-size: 20px;
    color: #333333;
    display: block;
    width: 100%;
}
.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    color: #333333;
    line-height: 1.5;
    padding: 0 26px;
}
input.input100 {
    height: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.container--btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #6675df;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
