<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cloud-api</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>


</head>
<body>
<header>
    <div id="about">
        <a th:href="@{/index.html}">Home</a>
        <a th:href="@{/login}">Sign In</a>
        <a href="#">Info</a>
    </div>
</header>
<div th:fragment="top">
    <div id="banner">
        <h2>Cloud-api</h2>
        <a th:href="@{/login}">Sign In</a>
    </div>
</div>
</body>
</html>


