<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/log.css}"/>
</head>
<body>
    <header>
        <div class="about">
            <nav>
                <ul>
                    <li><a th:href="@{/}">Главная</a></li>
                    <li><a th:href="@{/login}">Вход</a></li>
                    <li><a th:href="@{/info}">Инфо</a></li>
                </ul>
            </nav>
        </div>
    </header>
<div class="limiter">
        <div class="login">
            <form th:action="@{/login}" method="POST" class="login-form">
					<span class="login-title">
						Войдите, чтобы продолжить
					</span>
                <span class="label">Email</span>
                <div class="input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="username">
                </div>
                <span class="label">Пароль</span>
                <div class="input" data-validate="Password is required">
                    <input class="input100" type="password" name="password">
                </div>
                <div class="flex">
                    <div>
                        <a th:href="@{/recovery}" class="txt1">
                            Забыли пароль?
                        </a>
                    </div>
                    <div>
                        <a th:href="@{/registration}" class="txt1">
                            Регистрация
                        </a>
                    </div>
                </div>
                <div class="container-btn">
                    <button class="login-btn">
                       Авторизоваться
                    </button>
                </div>
            </form>
        </div>
</div>
</body>
</html>