<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/log.css}"/>
</head>
<body>
<header>
    <div class="about">
        <nav>
            <ul>
                <li> <a th:href="@{/...}">Главная</a></li>
                <li><a th:href="@{/login}">Вход</a></li>
                <li><a href="#">Инфо</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="limiter">
    <div class="login">
        <div class="wrap-login100">
            <form th:action="@{/recovery}" class="login-form">
					<span class="login-title">
						Восстановление пароля
					</span>
                <span class="label">Email</span>
                <div class="input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email">
                </div>
                    <div class="container-btn">
                        <button class="login-btn">
                            Восстановление пароля
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>