<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/registr.css}"/>
    <title>Registration</title>
</head>
<body>
<header>
    <div class="about">
        <nav>
            <ul>
                <li> <a th:href="@{/...}">Главная</a></li>
                <li><a th:href="@{/login}">Вход</a></li>
                <li><a href="#">Инфо</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="limiter">
    <div class="login">
            <form th:action="@{/registration}" method="POST" class="login-form">
					<span class="login-title">
						Регистрация
					</span>
                <span class="label">Имя</span>
                <div class="input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="name">
                </div>
                <span class="label">Фамилия</span>
                <div class="input" data-validate="Password is required">
                    <input class="input100" type="password" name="surname">
                </div>
                <span class="label">Логин</span>
                <div class="input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="login">
                </div>
                <span class="label">Email</span>
                <div class="input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email">
                </div>
                <span class="label">Пароль</span>
                <div class="input" name="password">
                    <input class="input100" type="password" name="password">
                </div>
                <span class="label">Поворите пароль</span>
                <div class="input" data-validate="Password is required">
                    <input class="input100" type="password" name="password2">
                </div>

                    <div class="container-btn">
                        <button class="login-btn">
                            Зарегистрироваться
                        </button>
                    </div>
            </form>
    </div>
</div>
</body>
</html>